<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h2 class="navbar-brand" href="#">7forums</h2>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text" id="navbarNav">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Back</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card p-5">
                    <section>
                        <h2 class="mb-4">
                            <%= post.title %>
                        </h2>
                        <div class="card-text">
                            <h6>Author: <%= post.author %>
                            </h6>
                        </div>
                        <div class="card-text">
                            <%= post.content %>
                        </div>
                    </section>

                    <div>
                        ❤️: <%= post.likes %>
                    </div>

                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-end">
                <div class="card pt-2 pb-5 pl-5 pr-5">
                    <h2 class="p-5">
                        Comments
                    </h2>
                    <div class="card-text justify-content-center">
                        <section id="comments">

                            <div class="card mb-3 justify-content-center">
                                <form action="/post/comment" method="POST">
                                    <input type="hidden" name="postId" value="<%= post.id %>">
                                    <textarea name="content" class="form-control form-control-lg rounded border shadow"
                                        rows="4"></textarea>
                                    <button class="mt-3 ml-1" id="button"> Comment</button>
                                </form>

                            </div>

                            <div id="commentsSection">
                                <% if (post.comments.length> 0) { %>
                                    <% post.comments.forEach(comment=> { %>
                                        <div class="card p-2 m-2">
                                            <%= comment.username %> : <%= comment.content %>
                                        </div>

                                        <br>

                                        <% }); %>
                                            <% } else { %>
                                                <p>No comments</p>
                                                <% } %>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function loadComments(postId) {
            fetch(`/post/getAllComments`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    id: postId
                }),
            })
                .then(response => response.json())
                .then(commentsData => {
                    const commentsContainer = document.getElementById("commentsSection");
                    commentsContainer.innerHTML = ""; 

                    commentsData.forEach(comment => {
                        const commentDiv = document.createElement("div");
                        commentDiv.classList.add("card", "p-2", "m-2");
                        commentDiv.textContent = `${comment.username}: ${comment.content}`;
                        commentsContainer.appendChild(commentDiv);
                    });
                })
                .catch(error => console.error('Error al cargar comentarios:', error));
        }
        const postId = "<%= post.id %>";

        loadComments(postId);

        setInterval(() => loadComments(postId), 10000);
        document.getElementById('button').addEventListener('click', function () {
            loadComments(postId);
        });


    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>